<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %d{yyMMdd HH:mm:ss} %-5level %C.%M\(%F:%L\) - %msg%n

            </Pattern>
        </encoder>
    </appender>

    <logger name="io.kweb" level="INFO"
            additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>