name: build

on:
  push:
    branches: [ master ]
    paths-ignore: [ 'docs/**', 'README.md' ]
  release:
    types: [published]

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 17

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2

    - name: Build and run tests
      run: ./gradlew build

    - name: Generate API documentation
      if: ${{github.event_name == 'push'}}
      run: |
        VERSION=$(git tag --sort=committerdate | tail -1)
        echo Generating API documentation for version $VERSION
        ./gradlew -Pversion=$VERSION dokkaHtml

    - name: Deploy API documentation to Github Pages
      if: ${{github.event_name == 'push'}}
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        branch: gh-pages
        folder: build/dokka/html
        target-folder: api
